@import "../functions/calculate-fluid-clamp";
@import '../functions/type-property-check';
@import '../../utilityFunctions/map-deep-get';

// Generate CSS custom properties for fluid type
@mixin generate-fluid-type-css-vars($type, $sizes, $theme-name, $theme-config) {
  @each $size in $sizes {
    // Set base properties
    --#{$type}-#{$size}-family: #{type-property-check($theme-config, $size, 'family')};
    --#{$type}-#{$size}-letter-spacing: #{type-property-check($theme-config, $size, 'letter-spacing')};
    --#{$type}-#{$size}-weight: #{type-property-check($theme-config, $size, 'weight')};
    --#{$type}-#{$size}-line-height: #{type-property-check($theme-config, $size, 'line-height')};
    
    // Get min, preferred and max values from the config
    $min-size: auro_map-deep-get($theme-config, 'sizes', $size, 'font-size', 'min');
    $preferred-size: auro_map-deep-get($theme-config, 'sizes', $size, 'font-size', 'preferred');
    $max-size: auro_map-deep-get($theme-config, 'sizes', $size, 'font-size', 'max');
    
    --#{$type}-#{$size}-font-size: #{calculate-fluid-clamp($min-size, $preferred-size, $max-size)};
  }
}

// Generate classes for fluid type
@mixin generate-fluid-type-classes($type, $sizes) {
  @each $size in $sizes {
    .#{$type}-#{$size} {
      font-family: var(--#{$type}-#{$size}-family);
      letter-spacing: var(--#{$type}-#{$size}-letter-spacing);
      font-weight: var(--#{$type}-#{$size}-weight);
      line-height: var(--#{$type}-#{$size}-line-height);
      font-size: var(--#{$type}-#{$size}-font-size);
    }
  }
}
