# standard ignore
.gitignore
.sasslintrc
.stylelintrc

# Directories 
scripts/
demo/
docs/
tests/
results/
documents/

# ignore docs
*.md

# ignore src
src/fonts/
src/auroElement/
src/scripts/

# overrides
!CHANGELOG.md
!README.md
