@import '@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables.scss';

@import 'true';
@import '../src/breakpoints';

@include describe('auro_breakpoint--lg()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .auro_breakpoint--lg {
          @include auro_breakpoint($min: $ds-grid-breakpoint-lg) {
            color: orange;
          }
        }
      }

      @include expect {
        @media screen and (min-width: 1024px) {
          .auro_breakpoint--lg {
            color: orange;
          }
        }
      }
    }
  }
}

@include describe('auro_breakpoint--md()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .auro_breakpoint--md {
          @include auro_breakpoint($min: $ds-grid-breakpoint-md) {
            color: orange;
          }
        }
      }

      @include expect {
        @media screen and (min-width: 768px) {
          .auro_breakpoint--md {
            color: orange;
          }
        }
      }
    }
  }
}

@include describe('auro_breakpoint--sm()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .auro_breakpoint--sm {
          @include auro_breakpoint($min: $ds-grid-breakpoint-sm) {
            color: orange;
          }
        }
      }

      @include expect {
        @media screen and (min-width: 576px) {
          .auro_breakpoint--sm {
            color: orange;
          }
        }
      }
    }
  }
}

@include describe('auro_breakpoint()') {
  @include it('should return content within custom-defined sm media query') {
    @include assert {
      @include output {
        .auro_breakpoint {
          @include auro_breakpoint($min: $ds-grid-breakpoint-sm) {
            color: orange;
          }
        }
      }

      @include expect {
        @media screen and (min-width: 576px) {
          .auro_breakpoint {
            color: orange;
          }
        }
      }
    }
  }
}

@include describe('auro_breakpoint()') {
  @include it('should return content within custom-defined md media query') {
    @include assert {
      @include output {
        .auro_breakpoint {
          @include auro_breakpoint($min: $ds-grid-breakpoint-lg) {
            color: orange;
          }
        }
      }

      @include expect {
        @media screen and (min-width: 1024px) {
          .auro_breakpoint {
            color: orange;
          }
        }
      }
    }
  }
}

@include describe('auro_breakpoint()') {
  @include it('should return content within custom-defined polar media query') {
    @include assert {
      @include output {
        .auro_breakpoint {
          @include auro_breakpoint($polar: $ds-grid-breakpoint-sm $ds-grid-breakpoint-lg) {
            color: orange;
          }
        }
      }

      @include expect {
        @media screen and (min-width: 576px) and (max-width: 1024px) {
          .auro_breakpoint {
            color: orange;
          }
        }
      }
    }
  }
}

@include describe('auro_breakpoint()') {
  @include it('should return content within freeform custom media query') {
    @include assert {
      @include output {
        .auro_breakpoint {
          @include auro_breakpoint($cust: '(min-width: 400px) and (max-width: #{$ds-grid-breakpoint-sm})') {
            color: orange;
          }
        }
      }

      @include expect {
        @media screen and (min-width: 400px) and (max-width: 576px) {
          .auro_breakpoint {
            color: orange;
          }
        }
      }
    }
  }
}

@include describe('auro_grid-breakpoint--xl()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .content {
          @include auro_grid-breakpoint--xl {
            content: "Grid media query for xl";
          }
        }
      }

      @include expect {
        @media screen and (min-width: 1232px) {
          .content {
            content: "Grid media query for xl";
          }
        }
      }
    }
  }
}

@include describe('auro_grid-breakpoint--lg()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .content {
          @include auro_grid-breakpoint--lg {
            content: "Grid media query for lg";
          }
        }
      }

      @include expect {
        @media screen and (min-width: 1024px) {
          .content {
            content: "Grid media query for lg";
          }
        }
      }
    }
  }
}

@include describe('auro_grid-breakpoint--md()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .content {
          @include auro_grid-breakpoint--md {
            content: "Grid media query for md";
          }
        }
      }

      @include expect {
        @media screen and (min-width: 768px) {
          .content {
            content: "Grid media query for md";
          }
        }
      }
    }
  }
}

@include describe('auro_grid-breakpoint--sm()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .content {
          @include auro_grid-breakpoint--sm {
            content: "Grid media query for sm";
          }
        }
      }

      @include expect {
        @media screen and (min-width: 576px) {
          .content {
            content: "Grid media query for sm";
          }
        }
      }
    }
  }
}

@include describe('auro_grid-breakpoint--xs()') {
  @include it('should return content within pre-defined media query') {
    @include assert {
      @include output {
        .content {
          @include auro_grid-breakpoint--xs {
            content: "Grid media query for sm";
          }
        }
      }

      @include expect {
        @media screen and (min-width: 320px) {
          .content {
            content: "Grid media query for sm";
          }
        }
      }
    }
  }
}
