@import '../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';
@import '../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariableMap';

@import 'true';

$ds-inset-spacing-options: sm, md, lg;
$ds-inset-directions: --stretch;
@import '../src/utilityMixins/insetUtility';

@include describe('auro_inset()') {
  @include it('should return a specific list of selectors based on config options') {
    @include assert {
      @include output {
        @include auro_inset();
      }

      @include expect {
        .util_insetSm--stretch {
          padding: calc(0.75rem * 1.5) 0.75rem;
        }

        .util_insetMd--stretch {
          padding: calc(1rem * 1.5) 1rem;
        }

        .util_insetLg--stretch {
          padding: calc(1.5rem * 1.5) 1.5rem;
        }
      }
    }
  }
}
