@import '../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

@import 'true';

$layout-properties: margin;
$layout-extensions: Right;
$layout-modifiers: (
  'none': 0,
  '100': $ds-size-100,
  '200': $ds-size-200,
  '300': $ds-size-300,
  '400': $ds-size-400,
);
@import '../src/utilityMixins/layoutPropertiesGenerator';

@include describe('auro_layoutPropertiesGenerator()') {
  @include it('should return a series of selectors matching the config spec ') {
    @include assert {
      @include output {
        @include auro_layoutPropertiesGenerator();
      }

      @include expect {
        .util_marginRight--none {
          margin-right: 0;
        }

        .util_marginRight--100 {
          margin-right: 0.5rem;
        }

        .util_marginRight--200 {
          margin-right: 1rem;
        }

        .util_marginRight--300 {
          margin-right: 1.5rem;
        }

        .util_marginRight--400 {
          margin-right: 2rem;
        }
      }
    }
  }
}
