@import '../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

@import 'true';

$layout-properties: margin;
$layout-extensions: Right;
$layout-modifiers: (
  "xxxs": $ds-size-xxxs,
  "xxs": $ds-size-xxs,
  "xxl": $ds-size-xxl,
  "xxxl": $ds-size-xxxl,
  "25": $ds-size-25,
  "50": $ds-size-50,
  "600": $ds-size-600,
  "800": $ds-size-800
);
@import '../src/utilityMixins/layoutPropertiesGenerator';

@include describe('auro_layoutPropertiesGenerator()') {
  @include it('should return a series of selectors matching the config spec ') {
    @include assert {
      @include output {
        @include auro_layoutPropertiesGenerator();
      }

      @include expect {
        .util_marginRight--xxxs {
          margin-right: 0.125rem;
        }

        .util_marginRight--xxs {
          margin-right: 0.25rem;
        }

        .util_marginRight--xxl {
          margin-right: 3rem;
        }

        .util_marginRight--xxxl {
          margin-right: 4rem;
        }

        .util_marginRight--25 {
          margin-right: 0.125rem;
        }

        .util_marginRight--50 {
          margin-right: 0.25rem;
        }

        .util_marginRight--600 {
          margin-right: 3rem;
        }

        .util_marginRight--800 {
          margin-right: 4rem;
        }
      }
    }
  }
}
