@import '../node_modules/@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables';

@import 'true';
@import '../src/utilityMixins/anchor-roleTab';

@include describe('auro_anchorTab()') {
  @include it('should return a populated selector based on (sass, noncomponent)') {
    @include assert {
      @include output {
        .auro_roleTab {
          @include auro_anchorTab(sass, noncomponent);
        }
      }

      @include expect {
        .auro_roleTab {
          padding: 1rem;
          color: #2c67b5;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #585e67;
        }

        .auro_roleTab:not(.is-touching):hover {
          cursor: pointer;
          text-decoration: none;
          color: #193d73;
          border-width: 0 0 2px;
          border-color: currentColor;
        }
        .auro_roleTab.is-active {
          cursor: pointer;
          text-decoration: none;
          color: #2a2a2a;
          border-width: 0 0 2px;
          border-color: currentColor;
        }
      }
    }
  }

  @include it('should return a populated selector based on (sass, component)') {
    @include assert {
      @include output($selector: false) {
        .hyperlink--tab {
          @include auro_anchorTab(sass, component);
        }
      }

      @include expect($selector: false) {
        .hyperlink--tab {
          padding: 1rem;

          color: #2c67b5;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #585e67;
        }

        :host(:not(.is-touching)) .hyperlink--tab:hover {
          cursor: pointer;
          text-decoration: none;

          color: #193d73;
          border-width: 0 0 2px;
          border-color: currentColor;
        }

        .hyperlink--tab.is-active {
          cursor: pointer;
          text-decoration: none;

          color: #2a2a2a;
          border-width: 0 0 2px;
          border-color: currentColor;
        }
      }
    }
  }

  @include it('should return a populated selector based on (scss, noncomponent)') {
    @include assert {
      @include output {
        .auro_roleTab {
          @include auro_anchorTab(scss, noncomponent);
        }
      }

      @include expect {
        .auro_roleTab {
          padding: 1rem;

          color: #2c67b5;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #585e67;;
        }

        .auro_roleTab:not(.is-touching):hover {
          cursor: pointer;
          text-decoration: none;

          color: #193d73;
          border-width: 0 0 2px;
          border-color: currentColor;
        }

        .auro_roleTab.is-active {
          cursor: pointer;
          text-decoration: none;

          color: #2a2a2a;
          border-width: 0 0 2px;
          border-color: currentColor;
        }
      }
    }
  }

  @include it('should return a populated selector based on (scss, component)') {
    @include assert {
      @include output($selector: false) {
        .hyperlink--tab {
          @include auro_anchorTab(scss, component);
        }
      }

      @include expect($selector: false) {
        .hyperlink--tab {
          padding: 1rem;
          color: #2c67b5;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #585e67;;
        }

        :host(:not(.is-touching)) .hyperlink--tab:hover {
          cursor: pointer;
          text-decoration: none;
          color: #193d73;
          border-width: 0 0 2px;
          border-color: currentColor;
        }

        .hyperlink--tab.is-active {
          cursor: pointer;
          text-decoration: none;
          color: #2a2a2a;
          border-width: 0 0 2px;
          border-color: currentColor;
        }
      }
    }
  }

  @include it('should return a populated selector based on (css, noncomponent)') {
    @include assert {
      @include output {
        .auro_roleTab {
          @include auro_anchorTab(css, noncomponent);
        }
      }

      @include expect {
        .auro_roleTab {
          padding: 1rem;
          color: var(--ds-color-text-ui-default-default, #2c67b5);
          border-width: 0 0 1px;
          border-style: solid;
          border-color: var(--ds-color-border-primary-default, #585e67);
        }

        .auro_roleTab:not(.is-touching):hover {
          cursor: pointer;
          text-decoration: none;
          color: var(--ds-color-container-ui-primary-hover-default, #193d73);
          border-width: 0 0 2px;
          border-color: currentColor;
        }

        .auro_roleTab.is-active {
          cursor: pointer;
          text-decoration: none;
          color: var(--ds-color-text-primary-default, #2a2a2a);
          border-width: 0 0 2px;
          border-color: currentColor;
        }
      }
    }
  }

  @include it('should return a populated selector based on (css, component)') {
    @include assert {
      @include output($selector: false) {
        .hyperlink--tab {
          @include auro_anchorTab(css, component);
        }
      }

      @include expect($selector: false) {
        .hyperlink--tab {
          padding: 1rem;
          color: var(--ds-color-text-ui-default-default, #2c67b5);
          border-width: 0 0 1px;
          border-style: solid;
          border-color: var(--ds-color-border-primary-default, #585e67);
        }

        :host(:not(.is-touching)) .hyperlink--tab:hover {
          cursor: pointer;
          text-decoration: none;
          color: var(--ds-color-container-ui-primary-hover-default, #193d73);
          border-width: 0 0 2px;
          border-color: currentColor;
        }

        .hyperlink--tab.is-active {
          cursor: pointer;
          text-decoration: none;
          color: var(--ds-color-text-primary-default, #2a2a2a);
          border-width: 0 0 2px;
          border-color: currentColor;
        }
      }
    }
  }
}
