@import '../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables';
@import "../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariableMap";

@import 'true';

$ds-spacing-types: inline;
$ds-spacing-options: 25, 1000;
@import "./src/utilityMixins/spacingUtility";

@include describe('auro_spacing()') {
  @include it('should return a series of selectors matching the config spec ') {
    @include assert {
      @include output {
        @include auro_spacing()
      }

      @include expect {
        .util_inlinePadding25--left {
          padding-left: 0.125rem;
        }

        .util_inlinePadding25--right {
          padding-right: 0.125rem;
        }

        .util_inlineMargin25--left {
          margin-left: 0.125rem;
        }

        .util_inlineMargin25--right {
          margin-right: 0.125rem;
        }

        .util_inlinePadding1000--left {
          padding-left: 5rem;
        }

        .util_inlinePadding1000--right {
          padding-right: 5rem;
        }

        .util_inlineMargin1000--left {
          margin-left: 5rem;
        }

        .util_inlineMargin1000--right {
          margin-right: 5rem;
        }
      }
    }
  }
}
