// Import build resources to ensure that src resources are working as expected

/* --------start variables import ------------- */
@import '../node_modules/@alaskaairux/design-tokens/dist/tokens/SCSSVariables';
/* --------end variables import ------------- */

/* --------start breakpoints import ------------- */
@import './src/breakpoints';

/* --------start fonts import ------------- */
@import './src/fonts';

/* --------start normalize import ------------- */
@import './src/normalize';

/* --------start essentials import ------------- */
@import './src/essentials';

/* --------start headings import ------------- */
@import './src/headings';

/* --------start utility/Classes import ------------- */
@import './src/utilityClasses';

/* --------start utilityClasses/displayProps import ------------- */
@import './src/utilityClasses/displayProperties';

/* --------start utilityClasses/focusVisible import ------------- */
@import './src/utilityClasses/focusVisible';

/* --------start utilityClasses/fontStyles import ------------- */
@import './src/utilityClasses/fontStyles';

/* --------start utilityClasses/responsive import ------------- */
@import './src/utilityClasses/responsive';

/* --------start urilityMixins/focusVisible import ------------- */
@import './src/utilityMixins/focusVisible';

/* --------start componentSupport/anchor-roleButton import ------------- */
@import './src/componentSupport/anchor-roleButton';

/* --------start componentSupport/anchor-roleTab import ------------- */
@import './src/componentSupport/anchor-roleTab';

/* --------start componentSupport/containedButtons import ------------- */
@import './src/componentSupport/containedButtons';

/* --------start componentSupport/tablist import ------------- */
@import './src/componentSupport/tablist';

/* --------start componentSupport/tablist import ------------- */
@import './src/componentSupport/table';

/* --------start utilityClasses/layoutProperties import ------------- */
@import '../src/utilityClasses/layoutProperties';
