
@import '../../utilityFunctions/map-deep-get';

$body-sizes: ('default', 'lg', 'sm', 'xs', '2xs');

@mixin body-type($size, $theme-config) {
  // common values across sizes
  font-family: map-get($theme-config, 'family');
  font-weight: map-get($theme-config, 'weight');
  letter-spacing: map-get($theme-config, 'letter-spacing');
  
  // loop over the $body-sizes
  font-size: auro_map-deep-get($theme-config, 'sizes', $size, 'font-size');
  line-height: auro_map-deep-get($theme-config, 'sizes', $size, 'line-height');
}

@mixin generate-body-classes($theme-config) {
  @each $size in $body-sizes {
    .body-#{$size} {
      @include body-type($size, $theme-config);
    }
  }
}
