// Import build resources to ensure that src resources are working as expected

@import '../node_modules/@alaskaairux/orion-design-tokens/dist/tokens/TokenVariables';
@import '../node_modules/@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables';

$scope: true;
$prefix: true;

@import './src/breakpoints';

.auro_breakpoint--lg {
  @include auro_breakpoint--lg {
    color: orange;
  }
}

.auro_breakpoint--md  {
  @include auro_breakpoint--md {
    color: orange;
  }
}

.auro_breakpoint--sm {
  @include auro_breakpoint--sm {
    color: orange;
  }
}

.auro_breakpoint {
  color: orange;

  @include auro_breakpoint($min: $auro-breakpoint-sm) {
    color: blue;
  }
}

.auro_breakpoint {
  color: orange;

  @include auro_breakpoint($max: $auro-breakpoint-lg) {
    color: blue;
  }
}

.auro_breakpoint {
  color: orange;

  @include auro_breakpoint($polar: $auro-breakpoint-sm $auro-breakpoint-lg) {
    color: blue;
  }
}

.auro_breakpoint {
  color: orange;

  @include auro_breakpoint($cust: '(min-width: 400px) and (max-width: #{$auro-breakpoint-sm})') {
    color: blue;
  }
}

@import './src/animation';

.foo {
  @include auro_transition;
}

@import './src/fonts';

@import './src/normalize';

@import './src/baseline'; // deprecated

@import './src/essentials';

@import './src/headings';

@import './src/utilityClasses';

@import './src/utilityClasses/displayProperties';

@import './src/utilityClasses/focusVisible';

@import './src/utilityClasses/fontStyles';

// $layout-properties: margin;
// $layout-extensions: Left;
@import './src/utilityClasses/layoutProperties';
@import './src/utilityMixins/layoutPropertiesGenerator';

/*------------- general spacing -----------------*/
@import "./node_modules/@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariableMap";
$auro-spacing-types: inline;
$auro-spacing-options: sm, md, lg;
@import "./src/utilityMixins/spacingUtility";

/*---------- inset generator ----------------*/
$auro-inset-spacing-options: sm, md, lg;
$auro-inset-directions: --stretch;
@import "./src/utilityMixins/insetUtility";

@import './src/utilityClasses/responsive';

@import './src/utilityMixins/anchor-roleButton';

.auro_roleButton {
    @include auro_anchorButton(sass, noncomponent);
}

@import './src/utilityMixins/anchor-roleTab';

.auro_roleTab {
   @include auro_anchorTab(sass, noncomponent);
}

@import './src/utilityMixins/focusVisible';

@import './src/componentSupport/anchor-roleButton';

@import './src/componentSupport/anchor-roleTab';

@import './src/componentSupport/containedButtons';

@import './src/componentSupport/tablist';

@import './src/formElements/inputTypeText';
